@model Dictionary<HomeIS.Models.ApplicationUser, int>

@{
    ViewBag.Title = "Statistics";
}

<h2 class="text-center">HomeIS Top Salers Hall Of Fame: </h2>
<br />
<table class="table">
    <tr>
        <th>#</th>
        <th>
            <span class="fa fa-user"></span>
            User Name
        </th>
        <th>
            <span class="fa fa-chart-line"></span>
            Score (Sold appartments)
        </th>
        <th>
            <span class="fa fa-clipboard-list"></span>
            Stars Rate
        </th>
        <th></th>
    </tr>
    <!-- foreach statment that uses modal & index as well -->
    @foreach (var item in Model.Select((model, index) => new { model, index }))
    {
        <tr>
            <td>
                @(item.index + 1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.model.Key.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.model.Value)
            </td>
            <td>
                @for (int i = 3; i > item.index; i--)
                {
                    <span class="fa fa-star" style="color:yellow"></span>
                }
            </td>
        </tr>
    }
</table>
<br /><br />
@Html.ActionLink("Users Money Spent", "UsersMoneySpent", "Account")
<br />

<link rel="stylesheet" href="~/Content/d3-styles.css" />
<script src="~/Scripts/D3.min.js"></script>

<h3>Live: Apartments For Sale:</h3>
<div class="row">
    <svg id="tiles" width="660" height="260"></svg>
</div>

<h3>Live: Devition of apartments per city: </h3>
<div class="row">
    <div id="donut" class="col-sm-6"></div>
</div>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/D3JS-Scripts.js"></script>
