@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>About HomeIS</h3>

<p>
    <aside>
<p>Hello World! This is aside!</p></aside>
    HomeIS is a small project made possible by 3 bright minds: Snir Mordehai, Sapir Nasimi, and Itai Hay. <br />
    All of them are officers in the Israeli army, and the last two don't even program for a living!
</p>


<canvas id="canvas"></canvas>

<script src="~/Scripts/canvas.js"></script>