@{
    ViewBag.Title = "About";
}
<head>
    <meta charset="utf-8" />
</head>
<body>
    <h2>@ViewBag.Title</h2>
    <br />
    <br />
    <iframe style="position:fixed; top:0; left:0; right:0; width:100%; height:40%"
            src="~/UserPhotos/bgview.mp4"
            frameborder="0"
            loop="true"></iframe>

    <p align="center" 
       style="font-family:Helvetica, sans-serif; font-size:xx-large;">HomeIS. Just say YES.</p>
</body>