@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    One HomeIS Way<br />
    Rishon Letzion<br />
    <abbr title="Phone">P:</abbr>
    555.555.555
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@HomeIS.com">Support@HomeIS.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@HomeIS.com">Marketing@HomeIS.com</a>
</address>