
@{
    ViewBag.Title = "D3Stats";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>D3Stats</h2>
<link rel="stylesheet" href="~/Content/d3-styles.css" />
<script src="~/Scripts/D3.min.js"></script>


<h2>Live: Apartments For Sale!</h2>
<div class="row">
    <div  class="col-sm-6">
        <svg id="tiles" width="960" height="990"></svg>
    </div>
    <div id="donut" class="col-sm-6">
    </div>
</div>


<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/D3JS-Scripts.js"></script>





