
@{
    ViewBag.Title = "D3Stats";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>D3Stats</h2>
<link rel="stylesheet" href="~/Content/d3-styles.css" />
<script src="//d3js.org/d3.v3.min.js"></script>


<h2>Live: Apartments For Sale!</h2>
<div class="row">
    <div class="col-sm-6">
        @Html.Partial("_LiveTiles")
    </div>
    <div id="donut" class="col-sm-6">
        @Html.Partial("_DonutChart")
    </div>
</div>


<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/D3JS-Scripts.js"></script>





