@{
    ViewBag.Title = "Home Page";
}

<header>
    <div class="page-header">
        <h1>HomeIS <small>Your Next Home in Israel</small></h1>
    </div>
</header>

<div class="row" id="apartment-grid">

</div>

@Html.Partial("_IndexModal")
@Html.Partial("_TransactionModal")