@model IEnumerable<HomeIS.Models.Apartment>

@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<header>
    @Styles.Render("~/Content/site.css")
    <div class="page-header">
        <h1>HomeIS <small>Your Next Home in Israel</small></h1>
    </div>
</header>

<div class="row" id="apartment-main-view">
    <div class="col-sm-3" style="left:0;">
        <form id="apartment-filter-form">
            <div class="form-group">
                <br />
                <label for="recipient-name" class="col-form-label" style="max-width: 90%; padding-top: 8px">Show All Apartments</label>
                <input type="checkbox" class="form-control" id="show-all-filter" 
                       style="display: inline-block; max-width: 10%; float:right; top:-10px"
                       checked="checked" onchange="showAllAptCheckbox(this)">
                <br />
                <br />
            </div>
            <hr />
            <div class="form-group">
                <br />
                <label for="recipient-name" class="col-form-label">Minimum Price</label>
                <input type="number" min="" placeholder="" class="form-control" id="min-price-filter" disabled="disabled">
                <br />
                <label for="recipient-name" class="col-form-label">Maximum Price</label>
                <input type="number" min="" placeholder="" class="form-control" id="max-price-filter" disabled="disabled" />
                <br />
                <label for="recipient-name" class="col-form-label">Size</label>
                <input type="number" min="" placeholder="" class="form-control" id="size-filter" disabled="disabled">
                <br />
                <label for="recipient-name" class="col-form-label" style="max-width: 90%; padding-top: 8px">Balcony</label>
                <input type="checkbox" class="form-control" id="balcony-filter"
                       style="display: inline-block; max-width: 10%; float:right" disabled="disabled">
                <br />
                <br />
                <br />
                <button type="submit" class="btn btn-primary" id="submit-apartment-filter" disabled="disabled">APPLY</button>
                <button type="reset" class="btn btn-secondary" data-dismiss="modal" id="reset-apartment-filter" disabled="disabled">RESET</button>
            </div>
        </form>
    </div>
    <div class="col-sm-9">
        <div class="row" id="apartment-grid">
        </div>
    </div>
</div>

@Html.Partial("_IndexModal")
@Html.Partial("_TransactionModal")