@model IEnumerable<HomeIS.Models.Apartment>

@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<header>
    @Styles.Render("~/Content/site.css")
    <div class="page-header">
        <h1>HomeIS <small>Your Next Home in Israel</small></h1>
    </div>
</header>

<div class="row" id="apartment-main-view">
    <div class="col-sm-2" style="left:0">
        <form>
            <div class="form-group">
                <label for="recipient-name" class="col-form-label">Show All Apartments</label>
                <input type="checkbox" class="form-control" id="show-all-filter">
            </div>
            <hr />
            <div class="form-group">
                <label for="recipient-name" class="col-form-label">Minimum Price</label>
                <input type="number" min="" placeholder="" step="1000" class="form-control" id="min-price-filter">

                <label for="recipient-name" class="col-form-label">Maximum Price</label>
                <input type="number" min="" placeholder="" step="1000" class="form-control" id="max-price-filter">

                <label for="recipient-name" class="col-form-label">Size</label>
                <input type="number" min="" placeholder="" step="10" class="form-control" id="size-filter">

                <label for="recipient-name" class="col-form-label">Balcony</label>
                <input type="checkbox" class="form-control" id="balcony-filter">
            </div>
            <hr />
            <div class="form-group">
                <button type="submit" class="btn btn-primary" id="submit-apartment-filter">APPLY</button>
                <button type="reset" class="btn btn-secondary" data-dismiss="modal">RESET</button>
            </div>
        </form>
    </div>
    <div class="col-sm-10">
        <div class="row" id="apartment-grid">
        </div>
    </div>
</div>

@Html.Partial("_IndexModal")
@Html.Partial("_TransactionModal")