@model IEnumerable<HomeIS.Models.Apartment>

@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<header>
    @Styles.Render("~/Content/site.css")
    <div class="page-header">
        <h1>HomeIS <small>Your Next Home in Israel</small></h1>
    </div>
</header>

<div class="row" id="apartment-main-view">
    <aside class="col-sm-2" style="left:0">
        <div>
            <input type="checkbox" id="show-all-filter"> Show All Apartments
        </div>
        <br />
        <form>
            <div>
                Minimum Price
                <input type="number" id="min-price-filter" class="apartment-filter" />
            </div>
            <div>
                Maximum Price
                <input type="number" id="max-price-filter" class="apartment-filter" />
            </div>
            <div>
                Size
                <input type="number" id="size-filter" class="apartment-filter" />
            </div>
            <div>
                <input type="checkbox" id="balcony-filter" class="apartment-filter" /> Balcony
            </div>
            <table>
                <tr>
                    <td>
                        <input type="submit" />
                    </td>
                    <td>
                        <input type="reset" />
                    </td>
                </tr>
            </table>
        </form>
    </aside>
    <div class="col-sm-10">
        <div class="row" id="apartment-grid">
        </div>
    </div>
</div>

@Html.Partial("_IndexModal")
@Html.Partial("_TransactionModal")